*{
    font-family: 'Roboto', sans-serif;
}
h1{
    color:grey;
    margin-bottom: 5px;
    margin: 5px;
    margin-left: 10px;
}
h2 {
    margin-left: 10px;
}
h3 {
    margin-left: 10px;
}
img{
    border:2px solid black;
    margin-left: 62.5px;
}
.resumen {
    width: 20%;
    max-width: 1000px;
    float: left;
    padding: 20px;
    background-color:aquamarine;
    
  }
.especificaciones {
    width: 50%;
    max-width: 1000px;
    padding: 20px;
    float: left;
    box-sizing:border-box;
  }
  p {
    margin-left: 10px;
  }
.partejava 
{
    width: 50%;
    max-width: 1000px;  
    float: right;
    box-sizing:border-box;
}

@media screen and (max-width: 1000px){
    .resumen {
        width: 100%;
    }
    .especificaciones {
        width: 100%;
    }
    .partejava {
        width: 100%; 
    }
} 